#STRIPE

STRIPE_API_KEY= Get api key in https://stripe.com/docs/keys

#Github

register yout application in https://docs.github.com/en/developers/apps/building-oauth-apps/creating-an-oauth-app
and get yout application id and generate github secret

GITHUB_ID=
GITHUB_SECRET=

#Fauna DB

create database and users collection following https://docs.fauna.com/fauna/current/start/

and get the secret key in security section

FAUNA_DB_SECRET_KEY=

