.signInButton{
  height: 3rem;
  border-radius: 3rem;
  border: 0;
  padding: 0 1.5rem;
  background: var(--cyan-900);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  transition: filter 0.2s;

  svg {
    height: 24px;
    width: 24px;
  }

  svg:first-child{
    margin-right: 1rem;
  }

  svg.closeIcon{
    margin-left: 1rem;
    height: 1rem;
    width: 1rem;
  }

  &:hover {
    filter: brightness(0.8);
  }
}
